Let's start with your project: 

Are you a data scientist? 

I think you are an awesome a data scientist.

### **Problem** 
**Our goal is to create a predictive model that can answer the following question:**

**What kind of people had a better chance of surviving?**

## Install and Import Libraries
Let's install PySpark:

In [1]:
# pip install spark

In [2]:
# pip install findspark

## Build Spark Session

In [3]:

from pyspark.sql import SparkSession
from pyspark.sql.functions import count

spark = (SparkSession
.builder
.appName("DataFrame")
.getOrCreate())

## Data Loading

You have two datasets: 
* Train  
* Test.

Read two datasets: 
* Train
* Test.

In [4]:
train_df=spark.read.csv('./test.csv',inferSchema=True,header=True)
test_df=spark.read.csv('./train.csv',inferSchema=True,header=True)

Let's work with train dataset:

**Confirm if this is a dataframe or not:**

In [5]:
print(type(train_df))
print(type(test_df))

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>

**Show 5 rows.**

In [6]:
train_df.head(5)

[Row(PassengerId=1, Survived=1, Pclass=1, Name='Goldenberg, Mr. Samuel L', Sex='male', Age=49.0, SibSp=1, Parch=0, Ticket='17453', Fare=89.1042, Cabin='C92', Embarked='C'),
 Row(PassengerId=2, Survived=0, Pclass=3, Name='Peduzzi, Mr. Joseph', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='A/5 2817', Fare=8.05, Cabin=None, Embarked='S'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Jalsevac, Mr. Ivan', Sex='male', Age=29.0, SibSp=0, Parch=0, Ticket='349240', Fare=7.8958, Cabin=None, Embarked='C'),
 Row(PassengerId=4, Survived=0, Pclass=1, Name='Millet, Mr. Francis Davis', Sex='male', Age=65.0, SibSp=0, Parch=0, Ticket='13509', Fare=26.55, Cabin='E38', Embarked='S'),
 Row(PassengerId=5, Survived=1, Pclass=1, Name='Kenyon, Mrs. Frederick R (Marion)', Sex='female', Age=None, SibSp=1, Parch=0, Ticket='17464', Fare=51.8625, Cabin='D21', Embarked='S')]

**Display schema for the dataset:**

In [7]:
train_df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

**Statistical summary:**

In [8]:
train_df.summary()

DataFrame[summary: string, PassengerId: string, Survived: string, Pclass: string, Name: string, Sex: string, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: string]

## EDA - Exploratory Data Analysis

**Display count for the train dataset:**

In [9]:
print(train_df.count())

438

**Can you answer this question:** 

**How many people survived, and how many didn't survive?** 

**Please save data in a variable.**

In [10]:
survived =  train_df.filter('Survived == 1').count()
not_survived =  train_df.filter('Survived == 0').count()

**Display your result:**

In [11]:
print(survived,"person survived ")
print(not_survived,"person didnot survive ")

163 person survived
275 person didnot survive

**Can you display your answer in ratio form?(Hint: Use UDF.)**

In [12]:

def ratio_form(num):
    return num / float(train_df.count())

In [13]:
df1 = train_df.groupby('Survived').count()

In [14]:
df1.show()

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  163|
|       0|  275|
+--------+-----+

In [15]:
print("survived ratio",ratio_form(survived) )
print("not survived ratio",ratio_form(not_survived) )

survived ratio 0.3721461187214612
not survived ratio 0.6278538812785388

**Can you get the number of males and females?**

In [16]:
train_df.head()

Row(PassengerId=1, Survived=1, Pclass=1, Name='Goldenberg, Mr. Samuel L', Sex='male', Age=49.0, SibSp=1, Parch=0, Ticket='17453', Fare=89.1042, Cabin='C92', Embarked='C')

In [17]:
df2 = train_df.groupby('Sex').count()
df2.show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  141|
|  male|  297|
+------+-----+

**1. What is the average number of survivors of each gender?**

**2. What is the number of survivors of each gender?**

(Hint: Group by the "sex" column.)

In [18]:
train_df.groupby('Sex').avg('Survived').show()

+------+-------------------+
|   Sex|      avg(Survived)|
+------+-------------------+
|female| 0.7304964539007093|
|  male|0.20202020202020202|
+------+-------------------+

In [19]:
train_df.head()

Row(PassengerId=1, Survived=1, Pclass=1, Name='Goldenberg, Mr. Samuel L', Sex='male', Age=49.0, SibSp=1, Parch=0, Ticket='17453', Fare=89.1042, Cabin='C92', Embarked='C')

**Create temporary view PySpark:**

In [20]:
train_df.createOrReplaceTempView('DF_view')
spark.sql('SELECT PassengerId, Survived, Pclass, Name,Sex, Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked FROM DF_view').show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|          1|       1|     1|Goldenberg, Mr. S...|  male|49.0|    1|    0|   17453|89.1042|  C92|       C|
|          2|       0|     3| Peduzzi, Mr. Joseph|  male|null|    0|    0|A/5 2817|   8.05| null|       S|
|          3|       1|     3|  Jalsevac, Mr. Ivan|  male|29.0|    0|    0|  349240| 7.8958| null|       C|
|          4|       0|     1|Millet, Mr. Franc...|  male|65.0|    0|    0|   13509|  26.55|  E38|       S|
|          5|       1|     1|Kenyon, Mrs. Fred...|female|null|    1|    0|   17464|51.8625|  D21|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
only showing top 5 rows

**How many people survived, and how many didn't survive? By SQL:**

In [21]:
spark.sql("""SELECT Survived,COUNT(Survived) 
          FROM DF_view 
          GROUP BY Survived
          """).show()

+--------+---------------+
|Survived|count(Survived)|
+--------+---------------+
|       1|            163|
|       0|            275|
+--------+---------------+

**Can you display the number of survivors from each gender as a ratio?**

(Hint: Group by "sex" column.)

**Can you do this via SQL?**

In [22]:
spark.sql("""SELECT Sex ,SUM(case when Survived =1 then 1 else 0 end) / count(*) as ratio
          FROM DF_view 
          GROUP BY Sex
          """).show()

+------+-------------------+
|   Sex|              ratio|
+------+-------------------+
|female| 0.7304964539007093|
|  male|0.20202020202020202|
+------+-------------------+

**Display a ratio for p-class:**

In [23]:

spark.sql("""SELECT Pclass ,count (Pclass) / (select count (*) from DF_view ) as RATIO from DF_view group by Pclass
          """).show()

+------+------------------+
|Pclass|             RATIO|
+------+------------------+
|     1|0.2602739726027397|
|     3|  0.54337899543379|
|     2|0.1963470319634703|
+------+------------------+

**Let's take a break and continue after this.**

## Data Cleaning

**First and foremost, we must merge both the train and test datasets. (Hint: The union function can do this.)**

In [24]:
total_df = train_df.union(test_df)

**Display count:**

In [25]:
total_df.count()

1329

**Temporary view PySpark:**

In [26]:
total_df.createOrReplaceTempView('total_view')
spark.sql('SELECT PassengerId, Survived, Pclass, Name,Sex, Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked FROM DF_view').show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|          1|       1|     1|Goldenberg, Mr. S...|  male|49.0|    1|    0|   17453|89.1042|  C92|       C|
|          2|       0|     3| Peduzzi, Mr. Joseph|  male|null|    0|    0|A/5 2817|   8.05| null|       S|
|          3|       1|     3|  Jalsevac, Mr. Ivan|  male|29.0|    0|    0|  349240| 7.8958| null|       C|
|          4|       0|     1|Millet, Mr. Franc...|  male|65.0|    0|    0|   13509|  26.55|  E38|       S|
|          5|       1|     1|Kenyon, Mrs. Fred...|female|null|    1|    0|   17464|51.8625|  D21|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
only showing top 5 rows

**Can you define the number of null values in each column?**

In [27]:
from pyspark.sql.functions import isnan, when, count, col,mean

total_df.select([count(when(isnan(c) |col(c).isNull(), c)).alias(c) for c in total_df.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|265|    0|    0|     0|   0| 1021|       3|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

**Create Dataframe for null values**

1. Column
2. Number of missing values.

In [28]:
missing_df = total_df.select([count(when(isnan(c) |col(c).isNull(), c)).alias(c) for c in total_df.columns])

## Preprocessing

**Can you show me the name column from your temporary table?**

In [29]:
print(total_df.columns)

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

**Run this code:**

In [30]:
from pyspark.sql import functions as F

combined = total_df.withColumn('Title',F.regexp_extract(F.col("Name"),"([A-Za-z]+)\.",1))
combined.createOrReplaceTempView('combined')

**Display the title and count "Title" column:**

In [31]:

spark.sql("""SELECT Title,COUNT(Title) 
          FROM combined 
          GROUP BY Title
          """).show()

+--------+------------+
|   Title|count(Title)|
+--------+------------+
|     Don|           1|
|    Miss|         257|
|Countess|           2|
|     Col|           4|
|    Lady|           2|
|     Rev|           9|
|  Master|          56|
|    Capt|           2|
|     Mme|           1|
|      Mr|         786|
|      Dr|          11|
|     Mrs|         186|
|     Sir|           2|
|Jonkheer|           2|
|    Mlle|           4|
|   Major|           3|
|      Ms|           1|
+--------+------------+

**We can see that Dr, Rev, Major, Col, Mlle, Capt, Don, Jonkheer, Countess, Ms, Sir, Lady, and Mme are really rare titles, so create Dictionary and set the value to "rare".**

In [32]:
rare = {'Dr':'rare', 'Rev':'rare', 'Major':'rare', 'Col':'rare', 'Mlle':'rare', 'Capt':'rare', 'Don':'rare', 'Jonkheer':'rare', 'Countess':'rare', 'Ms':'rare', 'Sir':'rare', 'Lady':'rare',  'Mme':'rare','Miss':'Miss','Master':'Master','Mr':'Mr','Mrs':'Mrs'}

**Run the function:**

In [33]:
def impute_title(title):
    return rare[title]

**Apply the function on "Title" column using UDF:**

In [34]:
from pyspark.sql.functions import udf

convertUDF = udf(lambda z: impute_title(z))
combined = combined.withColumn("Title", convertUDF(F.col("Title")))

In [35]:
combined.createOrReplaceTempView('combined')

**Display "Title" from table and group by "Title" column:**

In [36]:
spark.sql("""SELECT Title,COUNT(Title) 
          FROM combined 
          GROUP BY Title
          """).show()

+------+------------+
| Title|count(Title)|
+------+------------+
|  rare|          44|
|  Miss|         257|
|Master|          56|
|    Mr|         786|
|   Mrs|         186|
+------+------------+

## **Preprocessing Age**

**Based on the age mean, you will fill in the missing age values:**

In [37]:
mean_of_age= total_df.select(mean('Age')).collect()[0][0]
mean_of_age

30.079501879699244

**Fill missing age with age mean:**

In [38]:
total_df.fillna(mean_of_age, subset= ['Age'])

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Ticket: string, Fare: double, Cabin: string, Embarked: string]

## **Preprocessing Embarked**

**Select Embarked, count them, order by count Desc, and save in grouped_Embarked variable:**

In [39]:
grouped_Embarked= total_df.select('Embarked').groupBy('Embarked').agg(count('Embarked').alias('group_of_Embarked')).orderBy('group_of_Embarked', ascending= False)

**Show groupped_Embarked:**

In [40]:
spark.sql(""" SELECT Embarked, count(Embarked) AS group_of_Embarked
FROM combined
GROUP BY Embarked
ORDER BY group_of_Embarked DESC
 """).show()

+--------+-----------------+
|Embarked|group_of_Embarked|
+--------+-----------------+
|       S|              962|
|       C|              253|
|       Q|              111|
|    null|                0|
+--------+-----------------+

**Get the groupped_Embarked:**

In [41]:
grouped_Embarked.show(1)

+--------+-----------------+
|Embarked|group_of_Embarked|
+--------+-----------------+
|       S|              962|
+--------+-----------------+
only showing top 1 row

**Fill missing values with Top 'S' of grouped_Embarked:**

In [42]:
grouped_Embarked.fillna(value= 'S', subset= 'Embarked').show()

+--------+-----------------+
|Embarked|group_of_Embarked|
+--------+-----------------+
|       S|              962|
|       C|              253|
|       Q|              111|
|       S|                0|
+--------+-----------------+

## **Preprocessing Cabin**

**Replace "cabin" column with first char from the string:**

In [43]:
import numpy

In [44]:
def convertCabin(x):
  if not x:
    return x
  return x[0]
# total_df = total_df.dropna(subset='cabin')
convertCabinUDF = udf(lambda z: convertCabin(z))
total_df=total_df.withColumn("cabin", convertCabinUDF(F.col("cabin")))

# total_df.cabin.map(lambda x: convertCabin(x)).show()

**Show the result:**

In [45]:
total_df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|            Ticket|   Fare|cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+
|          1|       1|     1|Goldenberg, Mr. S...|  male|49.0|    1|    0|             17453|89.1042|    C|       C|
|          2|       0|     3| Peduzzi, Mr. Joseph|  male|null|    0|    0|          A/5 2817|   8.05| null|       S|
|          3|       1|     3|  Jalsevac, Mr. Ivan|  male|29.0|    0|    0|            349240| 7.8958| null|       C|
|          4|       0|     1|Millet, Mr. Franc...|  male|65.0|    0|    0|             13509|  26.55|    E|       S|
|          5|       1|     1|Kenyon, Mrs. Fred...|female|null|    1|    0|             17464|51.8625|    D|       S|
|          6|       1|     2| Toomey, Miss. Ellen|female|50.0|    0|    0|      F.C.C. 13531|   10.5| null|       S|
|          7|       0|     3|O'Connor, Mr. Mau...|  male|null|    0|    0|            371060|   7.75| null|       Q|
|          8|       1|     1| Anderson, Mr. Harry|  male|48.0|    0|    0|             19952|  26.55|    E|       S|
|          9|       0|     3| Morley, Mr. William|  male|34.0|    0|    0|            364506|   8.05| null|       S|
|         10|       0|     1|   Gee, Mr. Arthur H|  male|47.0|    0|    0|            111320|   38.5|    E|       S|
|         11|       0|     2|Milling, Mr. Jaco...|  male|48.0|    0|    0|            234360|   13.0| null|       S|
|         12|       0|     3|  Maisner, Mr. Simon|  male|null|    0|    0|          A/S 2816|   8.05| null|       S|
|         13|       0|     3|Goncalves, Mr. Ma...|  male|38.0|    0|    0|SOTON/O.Q. 3101306|   7.05| null|       S|
|         14|       0|     2|Campbell, Mr. Wil...|  male|null|    0|    0|            239853|    0.0| null|       S|
|         15|       0|     1|Smart, Mr. John M...|  male|56.0|    0|    0|            113792|  26.55| null|       S|
|         16|       0|     3|  Scanlan, Mr. James|  male|null|    0|    0|             36209|  7.725| null|       Q|
|         17|       1|     3|Baclini, Miss. He...|female|0.75|    2|    1|              2666|19.2583| null|       C|
|         18|       0|     3|   Keefe, Mr. Arthur|  male|null|    0|    0|            323592|   7.25| null|       S|
|         19|       0|     3|     Cacic, Mr. Luka|  male|38.0|    0|    0|            315089| 8.6625| null|       S|
|         20|       1|     2|West, Mrs. Edwy A...|female|33.0|    1|    2|        C.A. 34651|  27.75| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+
only showing top 20 rows

**Create the temporary view:**

In [46]:
total_df.createOrReplaceTempView('total')

**Select "Cabin" column, count Cabin column, Group by "Cabin" column, Order By count DESC**

In [47]:
spark.sql(""" SELECT cabin, count(cabin) AS count
FROM total
GROUP BY cabin
ORDER BY count DESC
 """).show()

+-----+-----+
|cabin|count|
+-----+-----+
|    C|   82|
|    B|   77|
|    D|   52|
|    E|   51|
|    A|   23|
|    F|   18|
|    G|    4|
|    T|    1|
| null|    0|
+-----+-----+

**Fill missing values with "U":**

In [48]:
total_df = total_df.fillna(value= 'U', subset= 'cabin')
total_df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|            Ticket|   Fare|cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+
|          1|       1|     1|Goldenberg, Mr. S...|  male|49.0|    1|    0|             17453|89.1042|    C|       C|
|          2|       0|     3| Peduzzi, Mr. Joseph|  male|null|    0|    0|          A/5 2817|   8.05|    U|       S|
|          3|       1|     3|  Jalsevac, Mr. Ivan|  male|29.0|    0|    0|            349240| 7.8958|    U|       C|
|          4|       0|     1|Millet, Mr. Franc...|  male|65.0|    0|    0|             13509|  26.55|    E|       S|
|          5|       1|     1|Kenyon, Mrs. Fred...|female|null|    1|    0|             17464|51.8625|    D|       S|
|          6|       1|     2| Toomey, Miss. Ellen|female|50.0|    0|    0|      F.C.C. 13531|   10.5|    U|       S|
|          7|       0|     3|O'Connor, Mr. Mau...|  male|null|    0|    0|            371060|   7.75|    U|       Q|
|          8|       1|     1| Anderson, Mr. Harry|  male|48.0|    0|    0|             19952|  26.55|    E|       S|
|          9|       0|     3| Morley, Mr. William|  male|34.0|    0|    0|            364506|   8.05|    U|       S|
|         10|       0|     1|   Gee, Mr. Arthur H|  male|47.0|    0|    0|            111320|   38.5|    E|       S|
|         11|       0|     2|Milling, Mr. Jaco...|  male|48.0|    0|    0|            234360|   13.0|    U|       S|
|         12|       0|     3|  Maisner, Mr. Simon|  male|null|    0|    0|          A/S 2816|   8.05|    U|       S|
|         13|       0|     3|Goncalves, Mr. Ma...|  male|38.0|    0|    0|SOTON/O.Q. 3101306|   7.05|    U|       S|
|         14|       0|     2|Campbell, Mr. Wil...|  male|null|    0|    0|            239853|    0.0|    U|       S|
|         15|       0|     1|Smart, Mr. John M...|  male|56.0|    0|    0|            113792|  26.55|    U|       S|
|         16|       0|     3|  Scanlan, Mr. James|  male|null|    0|    0|             36209|  7.725|    U|       Q|
|         17|       1|     3|Baclini, Miss. He...|female|0.75|    2|    1|              2666|19.2583|    U|       C|
|         18|       0|     3|   Keefe, Mr. Arthur|  male|null|    0|    0|            323592|   7.25|    U|       S|
|         19|       0|     3|     Cacic, Mr. Luka|  male|38.0|    0|    0|            315089| 8.6625|    U|       S|
|         20|       1|     2|West, Mrs. Edwy A...|female|33.0|    1|    2|        C.A. 34651|  27.75|    U|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+
only showing top 20 rows

**StringIndexer: A label indexer that maps a string column of labels to an ML column of label indices. If the input column is numeric, we cast it to string and index the string values. The indices are in [0, numLabels). By default, this is ordered by label frequencies so the most frequent label gets index 0. The ordering behavior is controlled by setting stringOrderType. Its default value is ‘frequencyDesc’.**

**StringIndexer(inputCol=None, outputCol=None)**

**Pipeline: ML Pipelines provide a uniform set of high-level APIs built on top of DataFrames that help users create and tune practical machine learning pipelines.**

____________________________________________

**Use Pipline to fit and transform:**

In [49]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer

In [50]:
total_df = total_df.dropna()

In [51]:
stage_1 = StringIndexer(inputCol= 'Name', outputCol= 'Name_index')
stage_2 = StringIndexer(inputCol= 'Sex', outputCol= 'Sex_index')
stage_3 = StringIndexer(inputCol= 'cabin', outputCol= 'cabin_index')
stage_4 = StringIndexer(inputCol= 'Embarked', outputCol= 'Embarked_index')

pipeline = Pipeline(stages=[stage_1, stage_2, stage_3, stage_4])

In [52]:
pipeline_model = pipeline.fit(total_df)

In [53]:
total_df_updated = pipeline_model.transform(total_df)

In [54]:
total_df_updated.show()

+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+----------+---------+-----------+--------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|            Ticket|   Fare|cabin|Embarked|Name_index|Sex_index|cabin_index|Embarked_index|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+----------+---------+-----------+--------------+
|          1|       1|     1|Goldenberg, Mr. S...|  male|49.0|    1|    0|             17453|89.1042|    C|       C|     139.0|      0.0|        2.0|           1.0|
|          3|       1|     3|  Jalsevac, Mr. Ivan|  male|29.0|    0|    0|            349240| 7.8958|    U|       C|     180.0|      0.0|        0.0|           1.0|
|          4|       0|     1|Millet, Mr. Franc...|  male|65.0|    0|    0|             13509|  26.55|    E|       S|     234.0|      0.0|        3.0|           0.0|
|          6|       1|     2| Toomey, Miss. Ellen|female|50.0|    0|    0|      F.C.C. 13531|   10.5|    U|       S|     327.0|      1.0|        0.0|           0.0|
|          8|       1|     1| Anderson, Mr. Harry|  male|48.0|    0|    0|             19952|  26.55|    E|       S|      26.0|      0.0|        3.0|           0.0|
|          9|       0|     3| Morley, Mr. William|  male|34.0|    0|    0|            364506|   8.05|    U|       S|     241.0|      0.0|        0.0|           0.0|
|         10|       0|     1|   Gee, Mr. Arthur H|  male|47.0|    0|    0|            111320|   38.5|    E|       S|     134.0|      0.0|        3.0|           0.0|
|         11|       0|     2|Milling, Mr. Jaco...|  male|48.0|    0|    0|            234360|   13.0|    U|       S|     235.0|      0.0|        0.0|           0.0|
|         13|       0|     3|Goncalves, Mr. Ma...|  male|38.0|    0|    0|SOTON/O.Q. 3101306|   7.05|    U|       S|     141.0|      0.0|        0.0|           0.0|
|         15|       0|     1|Smart, Mr. John M...|  male|56.0|    0|    0|            113792|  26.55|    U|       S|     303.0|      0.0|        0.0|           0.0|
|         17|       1|     3|Baclini, Miss. He...|female|0.75|    2|    1|              2666|19.2583|    U|       C|      39.0|      1.0|        0.0|           1.0|
|         19|       0|     3|     Cacic, Mr. Luka|  male|38.0|    0|    0|            315089| 8.6625|    U|       S|      67.0|      0.0|        0.0|           0.0|
|         20|       1|     2|West, Mrs. Edwy A...|female|33.0|    1|    2|        C.A. 34651|  27.75|    U|       S|     340.0|      1.0|        0.0|           0.0|
|         21|       1|     2|Jerwan, Mrs. Amin...|female|23.0|    0|    0|   SC/AH Basle 541|13.7917|    D|       C|     185.0|      1.0|        4.0|           1.0|
|         22|       0|     3|Strandberg, Miss....|female|22.0|    0|    0|              7553| 9.8375|    U|       S|     311.0|      1.0|        0.0|           0.0|
|         24|       0|     2|Renouf, Mr. Peter...|  male|34.0|    1|    0|             31027|   21.0|    U|       S|     270.0|      0.0|        0.0|           0.0|
|         25|       0|     3|Braund, Mr. Lewis...|  male|29.0|    1|    0|              3460| 7.0458|    U|       S|      58.0|      0.0|        0.0|           0.0|
|         26|       0|     3|Karlsson, Mr. Nil...|  male|22.0|    0|    0|            350060| 7.5208|    U|       S|     195.0|      0.0|        0.0|           0.0|
|         27|       1|     3|Hirvonen, Miss. H...|female| 2.0|    0|    1|           3101298|12.2875|    U|       S|     169.0|      1.0|        0.0|           0.0|
|         28|       0|     3|Goodwin, Master. ...|  male| 9.0|    5|    2|           CA 2144|   46.9|    U|       S|     142.0|      0.0|        0.0|           0.0|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+----------+---------+-----------+--------------+
only showing top 20 rows

**VectorAssembler: VectorAssembler(*, inputCols=None, outputCol=None) A feature transformer that merges multiple columns into a vector column.**

In [55]:
from pyspark.ml.feature import VectorAssembler
numericCols = [ 'Pclass', 'SibSp', 'Parch', 'Sex_index', 'cabin_index', 'Embarked_index']
assembler = VectorAssembler(inputCols=numericCols, outputCol="features")
total_df_updated = assembler.transform(total_df_updated)
total_df_updated.show()

+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+----------+---------+-----------+--------------+--------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|            Ticket|   Fare|cabin|Embarked|Name_index|Sex_index|cabin_index|Embarked_index|            features|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+----------+---------+-----------+--------------+--------------------+
|          1|       1|     1|Goldenberg, Mr. S...|  male|49.0|    1|    0|             17453|89.1042|    C|       C|     139.0|      0.0|        2.0|           1.0|[1.0,1.0,0.0,0.0,...|
|          3|       1|     3|  Jalsevac, Mr. Ivan|  male|29.0|    0|    0|            349240| 7.8958|    U|       C|     180.0|      0.0|        0.0|           1.0| (6,[0,5],[3.0,1.0])|
|          4|       0|     1|Millet, Mr. Franc...|  male|65.0|    0|    0|             13509|  26.55|    E|       S|     234.0|      0.0|        3.0|           0.0| (6,[0,4],[1.0,3.0])|
|          6|       1|     2| Toomey, Miss. Ellen|female|50.0|    0|    0|      F.C.C. 13531|   10.5|    U|       S|     327.0|      1.0|        0.0|           0.0| (6,[0,3],[2.0,1.0])|
|          8|       1|     1| Anderson, Mr. Harry|  male|48.0|    0|    0|             19952|  26.55|    E|       S|      26.0|      0.0|        3.0|           0.0| (6,[0,4],[1.0,3.0])|
|          9|       0|     3| Morley, Mr. William|  male|34.0|    0|    0|            364506|   8.05|    U|       S|     241.0|      0.0|        0.0|           0.0|       (6,[0],[3.0])|
|         10|       0|     1|   Gee, Mr. Arthur H|  male|47.0|    0|    0|            111320|   38.5|    E|       S|     134.0|      0.0|        3.0|           0.0| (6,[0,4],[1.0,3.0])|
|         11|       0|     2|Milling, Mr. Jaco...|  male|48.0|    0|    0|            234360|   13.0|    U|       S|     235.0|      0.0|        0.0|           0.0|       (6,[0],[2.0])|
|         13|       0|     3|Goncalves, Mr. Ma...|  male|38.0|    0|    0|SOTON/O.Q. 3101306|   7.05|    U|       S|     141.0|      0.0|        0.0|           0.0|       (6,[0],[3.0])|
|         15|       0|     1|Smart, Mr. John M...|  male|56.0|    0|    0|            113792|  26.55|    U|       S|     303.0|      0.0|        0.0|           0.0|       (6,[0],[1.0])|
|         17|       1|     3|Baclini, Miss. He...|female|0.75|    2|    1|              2666|19.2583|    U|       C|      39.0|      1.0|        0.0|           1.0|[3.0,2.0,1.0,1.0,...|
|         19|       0|     3|     Cacic, Mr. Luka|  male|38.0|    0|    0|            315089| 8.6625|    U|       S|      67.0|      0.0|        0.0|           0.0|       (6,[0],[3.0])|
|         20|       1|     2|West, Mrs. Edwy A...|female|33.0|    1|    2|        C.A. 34651|  27.75|    U|       S|     340.0|      1.0|        0.0|           0.0|[2.0,1.0,2.0,1.0,...|
|         21|       1|     2|Jerwan, Mrs. Amin...|female|23.0|    0|    0|   SC/AH Basle 541|13.7917|    D|       C|     185.0|      1.0|        4.0|           1.0|[2.0,0.0,0.0,1.0,...|
|         22|       0|     3|Strandberg, Miss....|female|22.0|    0|    0|              7553| 9.8375|    U|       S|     311.0|      1.0|        0.0|           0.0| (6,[0,3],[3.0,1.0])|
|         24|       0|     2|Renouf, Mr. Peter...|  male|34.0|    1|    0|             31027|   21.0|    U|       S|     270.0|      0.0|        0.0|           0.0| (6,[0,1],[2.0,1.0])|
|         25|       0|     3|Braund, Mr. Lewis...|  male|29.0|    1|    0|              3460| 7.0458|    U|       S|      58.0|      0.0|        0.0|           0.0| (6,[0,1],[3.0,1.0])|
|         26|       0|     3|Karlsson, Mr. Nil...|  male|22.0|    0|    0|            350060| 7.5208|    U|       S|     195.0|      0.0|        0.0|           0.0|       (6,[0],[3.0])|
|         27|       1|     3|Hirvonen, Miss. H...|female| 2.0|    0|    1|           3101298|12.2875|    U|       S|     169.0|      1.0|        0.0|           0.0|[3.0,0.0,1.0,1.0,...|
|         28|       0|     3|Goodwin, Master. ...|  male| 9.0|    5|    2|           CA 2144|   46.9|    U|       S|     142.0|      0.0|        0.0|           0.0|[3.0,5.0,2.0,0.0,...|
+-----------+--------+------+--------------------+------+----+-----+-----+------------------+-------+-----+--------+----------+---------+-----------+--------------+--------------------+
only showing top 20 rows

**Use randomSplit function and split data to x_train, and X_test with 80% and 20% Consecutive**

In [56]:
x_train, X_test = total_df_updated.randomSplit([0.8, 0.2],seed = 42)

**Build RandomForestClassifier model and use pipeline to fit and transform then display "prediction, Survived, features" columns**

In [57]:
from pyspark.ml.classification import RandomForestClassifier

rf = RandomForestClassifier(featuresCol = 'features', labelCol = 'Survived')
rfModel = rf.fit(x_train)
predictions = rfModel.transform(X_test)
predictions.select('PassengerId', 'Pclass', 'SibSp', 'Parch', 'Name_index', 'Sex_index', 'cabin_index', 'Embarked_index').show(10)

+-----------+------+-----+-----+----------+---------+-----------+--------------+
|PassengerId|Pclass|SibSp|Parch|Name_index|Sex_index|cabin_index|Embarked_index|
+-----------+------+-----+-----+----------+---------+-----------+--------------+
|          4|     1|    0|    0|     234.0|      0.0|        3.0|           0.0|
|         10|     1|    0|    0|     134.0|      0.0|        3.0|           0.0|
|         13|     3|    0|    0|     141.0|      0.0|        0.0|           0.0|
|         21|     2|    0|    0|     185.0|      1.0|        4.0|           1.0|
|         28|     3|    5|    2|     142.0|      0.0|        0.0|           0.0|
|         34|     1|    1|    0|     175.0|      1.0|        2.0|           0.0|
|         41|     1|    0|    0|      34.0|      0.0|        0.0|           1.0|
|         49|     3|    0|    0|      70.0|      1.0|        0.0|           2.0|
|         62|     3|    0|    0|      86.0|      0.0|        0.0|           0.0|
|         63|     1|    0|    0|     337.0|      0.0|        4.0|           0.0|
+-----------+------+-----+-----+----------+---------+-----------+--------------+
only showing top 10 rows

**Use MulticlassClassificationEvaluator and set the "labelCol" to "Survived",  "predictionCol" to "prediction", "metricName" to "accuracy"**

In [62]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator

# Create both evaluators
evaluatorMulti = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="predictions")
evaluator = BinaryClassificationEvaluator(labelCol="Survived", rawPredictionCol="predictions", metricName='accuracy')